.resume {
    height: 600px;
    width: 50%;
    background-color: #235451
}
.resume:hover {
    height: 600px;
    background-color: #f5f4f4;
    color:black
}
.resume_header{
    color: white;
    font-size: 50px;
}