.intro_name{
    font-family: 'Hind', sans-serif;
    font-size: 75px;
    margin: 5px;
    padding-left: 10%;
    color: rgb(255, 153, 170);
    text-shadow: 2px 2px 5px#fca1a1a6;
    position: relative;
    top: 250px;
  }
  h2{
    font-family: 'Hind', sans-serif;
    font-size: 55px;
    margin: 5px;
    padding-left: 10%;
    position: relative;
    top: 250px;
  }
  .words {
    color: rgb(0, 0, 0);
  }
  .lauren{
    position: relative;
    height: 510px;
    margin-left: 60%;
    filter: drop-shadow(0 0 2rem rgb(0, 0, 0));
  } 