@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;700&family=Raleway:wght@300&family=Roboto:wght@300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.intro {    
  position: relative; 
  width: 100%;
  background-color: #ffffff;
}
.aboutme{
  margin-top: 10%;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 15px black;
  background-color: rgb(125, 199, 183);
}
/* .container {
  max-width: 95%;
  margin: auto;
}
.d_flex{
  display: flex;
  justify-content: space-between;
}
.f_flex{
  display: flex;
}
a { 
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
} */