@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;700&family=Raleway:wght@300&family=Roboto:wght@300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Raleway', sans-serif;
  background-color: rgb(231, 225, 221)
}
.container {
  max-width: 95%;
  margin: auto;
}
.d_flex{
  display: flex;
  justify-content: space-between;
}
.f_flex{
  display: flex;
}
a { 
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lauren{
  height: 500px;
  position: absolute;
  left: 900px
}
h1{
  font-family: 'Hind', sans-serif;
  font-size: 90px;
  margin: 10px;
  padding-left: 10%;
}
h2{
  font-family: 'Hind', sans-serif;
  font-size: 90px;
  color: rgb(250, 151, 168);
  margin: 1px;
  padding-left: 10%

  
}