@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;700&family=Raleway:wght@300&family=Roboto:wght@300;400&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: 'Raleway', sans-serif;
  background-color: rgb(231, 225, 221)
}
.front {
  width: 75%;
  margin: auto;
  padding: 100px;
}
.container {
  max-width: 95%;
  margin: auto;
}
.d_flex{
  display: flex;
  justify-content: space-between;
}
.f_flex{
  display: flex;
}
a { 
  text-decoration: none;
  color: black;
}
li {
  list-style: none;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
.lauren{
  height: 500px;
  align-self: center;
  position: absolute;
  right: 300px;
  top: 400px;
  
}
h1{
  font-family: 'Hind', sans-serif;
  font-size: 75px;
  margin: 10px;
  padding-left: 10%;
  color: rgb(250, 151, 168);
  text-shadow: 2px 2px 4px #9c9c9c;
}
h2{
  font-family: 'Hind', sans-serif;
  font-size: 55px;
  margin: 10px;
  padding-left: 10%;
}
.words {
  text-shadow: 2px 2px 4px #9c9c9c;
}