body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* h1{
  font-family: 'Hind', sans-serif;
  font-size: 100px;
  margin: 1px
}
h2{
  font-family: 'Hind', sans-serif;
  font-size: 100px;
  color: pink;
  margin: 1px
  
} */

code {
  font-family: 'Quicksand', sans-serif;
  font-style: 'light';
}
